In [1]:
from urllib.request import urlretrieve

In [2]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x164cec3c748>)

In [1]:
import pandas as pd

In [2]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [3]:
type(covid_df)

pandas.core.frame.DataFrame

In [4]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
5    2020-01-05        0.0         0.0        NaN
6    2020-01-06        0.0         0.0        NaN
7    2020-01-07        0.0         0.0        NaN
8    2020-01-08        0.0         0.0        NaN
9    2020-01-09        0.0         0.0        NaN
10   2020-01-10        0.0         0.0        NaN
11   2020-01-11        0.0         0.0        NaN
12   2020-01-12        0.0         0.0        NaN
13   2020-01-13        0.0         0.0        NaN
14   2020-01-14        0.0         0.0        NaN
15   2020-01-15        0.0         0.0        NaN
16   2020-01-16        0.0         0.0        NaN
17   2020-01-17        0.0         0.0        NaN
18   2020-01-18        0.0         0.0        NaN
19   2020-01-19        0.0         0.0        NaN
20   2020-01-20        0.0         0.0        NaN
21   2020-01-21        0.0         0.0        NaN
22   2020-01-22        0.0         0.0        NaN
23   2020-01-23        0.0         0.0        NaN
24   2020-01-24        0.0         0.0        NaN
25   2020-01-25        0.0         0.0        NaN
26   2020-01-26        0.0         0.0        NaN
27   2020-01-27        0.0         0.0        NaN
28   2020-01-28        0.0         0.0        NaN
29   2020-01-29        0.0         0.0        NaN
..          ...        ...         ...        ...
218  2020-08-05      190.0         5.0    29739.0
219  2020-08-06      384.0        10.0    32169.0
220  2020-08-07      401.0         6.0    30392.0
221  2020-08-08      552.0         3.0    26631.0
222  2020-08-09      347.0        13.0    22773.0
223  2020-08-10      463.0         2.0    10904.0
224  2020-08-11      259.0         4.0    22063.0
225  2020-08-12      412.0         6.0    27330.0
226  2020-08-13      476.0        10.0    25629.0
227  2020-08-14      522.0         6.0    24868.0
228  2020-08-15      574.0         3.0    25937.0
229  2020-08-16      629.0       158.0    22470.0
230  2020-08-17      477.0         4.0    21379.0
231  2020-08-18      320.0         4.0    32687.0
232  2020-08-19      401.0         5.0    41290.0
233  2020-08-20      642.0         7.0    49662.0
234  2020-08-21      840.0         6.0    44943.0
235  2020-08-22      947.0         9.0    46613.0
236  2020-08-23     1071.0         3.0    47463.0
237  2020-08-24     1209.0         7.0    33358.0
238  2020-08-25      953.0         4.0    45798.0
239  2020-08-26      876.0         4.0    58054.0
240  2020-08-27     1366.0        13.0    57640.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [5]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
date          248 non-null object
new_cases     248 non-null float64
new_deaths    248 non-null float64
new_tests     135 non-null float64
dtypes: float64(3), object(1)
memory usage: 7.8+ KB

In [6]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [8]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [9]:
covid_df.shape

(248, 4)

In [10]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
        ...
218     190.0
219     384.0
220     401.0
221     552.0
222     347.0
223     463.0
224     259.0
225     412.0
226     476.0
227     522.0
228     574.0
229     629.0
230     477.0
231     320.0
232     401.0
233     642.0
234     840.0
235     947.0
236    1071.0
237    1209.0
238     953.0
239     876.0
240    1366.0
241    1409.0
242    1460.0
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [11]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [13]:
covid_df['new_cases'][200]

231.0

In [17]:
cases_df = covid_df[['date', 'new_cases']]

In [18]:
cases_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
5    2020-01-05        0.0
6    2020-01-06        0.0
7    2020-01-07        0.0
8    2020-01-08        0.0
9    2020-01-09        0.0
10   2020-01-10        0.0
11   2020-01-11        0.0
12   2020-01-12        0.0
13   2020-01-13        0.0
14   2020-01-14        0.0
15   2020-01-15        0.0
16   2020-01-16        0.0
17   2020-01-17        0.0
18   2020-01-18        0.0
19   2020-01-19        0.0
20   2020-01-20        0.0
21   2020-01-21        0.0
22   2020-01-22        0.0
23   2020-01-23        0.0
24   2020-01-24        0.0
25   2020-01-25        0.0
26   2020-01-26        0.0
27   2020-01-27        0.0
28   2020-01-28        0.0
29   2020-01-29        0.0
..          ...        ...
218  2020-08-05      190.0
219  2020-08-06      384.0
220  2020-08-07      401.0
221  2020-08-08      552.0
222  2020-08-09      347.0
223  2020-08-10      463.0
224  2020-08-11      259.0
225  2020-08-12      412.0
226  2020-08-13      476.0
227  2020-08-14      522.0
228  2020-08-15      574.0
229  2020-08-16      629.0
230  2020-08-17      477.0
231  2020-08-18      320.0
232  2020-08-19      401.0
233  2020-08-20      642.0
234  2020-08-21      840.0
235  2020-08-22      947.0
236  2020-08-23     1071.0
237  2020-08-24     1209.0
238  2020-08-25      953.0
239  2020-08-26      876.0
240  2020-08-27     1366.0
241  2020-08-28     1409.0
242  2020-08-29     1460.0
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]